.team {
  text-align: center;
  padding: 32px;
}

.team h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  color: #212121;
  display: inline-block;
  padding-bottom: 8px;
  font-family: 'Prata', serif;
  font-weight: 400;
}

.team__collaborators {
  display: flex;
  justify-content: center;
  gap: 24px;
}